body {
  background-color: green;
  border: solid;
  border-color: #ff6100;
}
.hand {
  display: inline-block;
}
.hand .card {
  margin-left: -40px;
  /* display: inline-block; */
}
.player_card {
  margin-left: -40px;
}
#myAnimation {
  /* width: 50px; */
  /* height: 50px; */
  position: absolute;
  /* background-color: red; */
}
.hidden_card {
  /* display: none; */
}
.log {
  background-color: lightgrey;
  float: bottom;
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: -350px;
  border: 3px solid grey;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -40px;
}
.book {
  /* margin-top: -20px; */
}
img.draw-card {
  margin-left: 50px;
}
/* .hand img {
  display: inline-block;
} */
.hand .cards {
  display: inline-block;
}
.side-right {
  transform: rotate(90deg);
  float: right;
}
.border {
  border-style: solid;
  background-color: #bcdada;
}

.click-me {
  width: 100px;
  height: 100px;
  background-color: red;
}
.cards {
  display: inline-block;
}
.side-left {
  transform: rotate(-90deg);
  float: left;
}
.playing_space {
  text-align: center;
  margin-top: 140px;
}
.center_pile {
  margin-top: -40px;
  /* transform: rotate(#{rand(360)}deg); */
}
.result {
  float: right;
  float: bottom;
  margin-right: 50px;
  margin-left: -450px;
  padding: 10px;
  margin-bottom: 100px;
}
.player_hand {
  margin-top: 100px;
  text-align: center;
}
.player_hand img {
  margin-left: -40px;
}
.player_top {
  text-align: center;
}
.button {
  background-color: #ff6100;
}
.number {
  font-size: 40px;
}
.center {
  text-align: center;
}
.loader-container {
  margin-left: 45%;
}
.loader {
  margin-left: -50px;
  border-top: 50px solid #dce800;
  border-bottom: 50px solid #3ea826;
  border-right: 50px solid #3b6ec6;
  border-left: 50px solid #ff9000;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: spin 0.5s linear infinite;
}
.bounce {
  animation: bounce 1s linear infinite alternate;
}
.slide {
  animation: slide 2s linear;
}
.spin {
  animation: spin 0.5s linear infinite;
}
.swim {
  animation: swim 2s infinite alternate;
}
.slide-right {
  animation: slide-right 1s
}
.slide-bottom {
  animation: slide-botton 1s
}
@keyframes slide {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

@keyframes slide-right {
  from {
    margin-left: 10%;
  }

  to {
    margin-left: 300%;
  }
}

@keyframes slide-bottom {
  from {
    margin-bottom: 10%;
  }

  to {
    margin-bottom: 300%;
  }
}

@keyframes bounce {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: 100%;
  }
}
@keyframes swim {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 90%;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
  }

  0%   {left:50px; top:10px;}
  50%{transform: rotateX(90deg);}
  100% {left:250px; top:10px;}
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes flip {
  0%   {left:50px; top:10px;}
  50%{transform: rotateX(90deg);}
  100% {left:250px; top:10px;}
}
.box {
  background-color: #218D9B;
  height: 100px;
  width: 100px;
}
.flip-box {
  width: 300px;
  height: 156px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
} */
.flip {
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
}

.flip-box-front {
}

.flip-box-back {
  transform: rotateY(180deg);
}
.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 200px;
  width: 200px;
}
/* img.d {
  transition: transform .2 ease-in-out;
} */
img.d {
  transform: translate3d(0px, 150px, 0px);
}
